@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Romania <br />
    Iasi, Carol 1 nr 27 <br />
    <abbr title="Telefon"></abbr>
    +40751965905
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:victor@mycoffeeshop.com">victor@mycoffeeshop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sami@mycoffeeshop.com">sami@mycoffeeshop.com</a>
</address>