@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

     <video preload="true" autoplay="true" width="1020" height="580" muted loop>
        <source src="https://victorsmediastorage.blob.core.windows.net/asset-f4cc69b6-81d0-4ec1-8b4f-7aa1e7cdc6f8/video1.mp4?sv=2017-04-17&sr=c&si=a72d5469-05f0-4d7a-9043-56dcc7c0f9ec&sig=60y8c5Jj6q58JdRcE3Dj2eXktjYu8kAw5pF1ZbkEfuA%3D&st=2019-05-23T21%3A44%3A19Z&se=2119-05-23T21%3A44%3A19Z" type="video/mp4"/>       
    </video>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pasiunea noastra</h2>
        <p>
            Iubim sa multumim clinetii nu doar cu ceea ce avem sau ceea ce oferim ci ceea ce suntem ca echipa. Nu incercam sa impresionam prin constumatie dar ne vei vedea mereu zambind.
        </p>
        <p>
            Vino si vezi!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cafeaua este o prioritate si pentru noi</h2>
        <p>Mereu tinem ca lucrurile sa fie facute cat mai bine, mai ales cand vine vorba de cafea. Ne alegem cu grija cafeaua, suntem pretentiosi cand vine vorba de barista si puntem pret pe instrumentele de lucru. </p>
        <p>Ne supunem orcarui test!</p>
    </div>
    <div class="col-md-4">
        <h2>La noi auzi ce trebuie</h2>
        <p>Muzica este putin "oldfashion" dar mereu este in pas cu atmosfera cafenelei, legand parca mirosul de cafea cu discutiile de la mese. </p>
        <p>Facem si evenimente de muzica live!</p>
    </div>
</div>